* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  color: #fff;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

.full-container {
  display: flex;
  font-size: 18px;
}

.left-panel {
  height: 100vh;
  width: 30vw;
  background-image: url('./assets/images/bg-main-desktop.png');
  position: relative;
}

/*====+CARDS=====================*/

.card-front-container {
  position: absolute;
  top: 20%;
  left: 13%;
}

.card-back-container {
  position: absolute;
  top: 55%;
  left: 20%;
}

.card {
  width: 350px;
}

.logo {
  position: absolute;
  left: 5%;
  top: 12%;
}

.card-number {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 24px;
}


.card-name {
  position: absolute;
  text-transform: uppercase;
  top: 80%;
  left: 5%;
  opacity: .6;
  font-size: 15px;
}

.exp-date {
  position: absolute;
  top: 80%;
  right: 5%; 
  opacity: .6;
  font-size: 15px;
}


.cvc-container {
  position: absolute;
  top: 42%;
  right: 15%;
}


/*========INPUT=============================*/
.right-panel {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

label {
  width: 100%;
  text-transform: uppercase;
}


.card-dates-info {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.card-dates-input {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

input {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  padding: 9px;
  height: 35px;
}

.wide-input {
  width: 100%;
}

.exp-input {
  width: 27%;
}

.cvc-input {
  width: 40%;
}


.btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}


/*=====ERROR TEXT=====================*/

.error-message {
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  color: red;
  opacity: .8;
}



/*=======THANK YOU========================================*/

.ty-container {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.completed-btn {
  width: 100%;
}